# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.vene/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
coverage.xml

# Pyre type checker
.pyre/

# VS Code
.vscode/
